*
{margin: o;
    padding: o;

   
}
header{

    background: #076585;
    display: flex;
    flex-direction: row;
    top: 0;
    flex-wrap: nowrap;
    align-items: flex-end;
    
}

.resumen{
    font-size: 35px;
    color: black;
    position: relative;
    top: -150px;
} 


nav{
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    list-style: none;
}


.logo { width: 70px;
    margin: 10px;
    border-radius: 100px;

}
  ul{
      display: flex;
      flex-direction: row;
      list-style: none;
  }


li{
margin: 0 10px;
text-transform: uppercase;
font-size: 20px;
}

/*section description*/

.descripcion__section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding: 8rem o;

}

 h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: 50px;
    position: relative;
    left: -50px;
   
    


}
.info-card{
    width: 40%;
    margin-bottom: 2rem;
}

.carts{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:space-around
    margin: 5rem 0;
    padding: 20px;
}
.cart {
    display: flex;
    align-items: baseline;
    margin: 65px;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: row;

}

.carts p{
    max-width: 300px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: small;

}


/*class*/
.checkbutton{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;

}

/*id*/

#check {
    display: none;
}

/*media query*/

@media (max-width: 1200px) {
 nav ul li a {
     font-size: 20px;
 }
}


@media (max-width: 992px) {
    nav li ul a {
        font-size: 15px;
    }
}
 @media (max-width: 916px) {
     nav li ul a {
         font-size: 15px;
     }
 }
    
   
@media (max-width: 600px) {
    .checkbutton{
        display: block;
        
    }

    ul { 
        position: fixed;
        display: block;
        width: 100px;
        background: rgb(79, 77, 77);
        top: 100px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        
    }

    nav ul li {
    
        margin: 20px 10px;
     }

     nav ul li a {
         font-size: 15px;

     }

   li a:hover, li a.active{
       cursor: pointer;
       background: none;
       color:#076585
       }
       
   

    #check:checked ~ ul{
        left: 0;
    }
    
        

}


body{
background: radial-gradient(#076585,#fff)
}
    
.portada
{   margin: 0px;
    width: 650px;
    height: 550px;
    padding-left: 700px;
    position: relative;
    top: -470px;
  

}
.intro { 
    
    margin: 30px;
    width: 350px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
     color: #fff;
     display: flex;
    align-items: flex-end;
    align-content: stretch;
}


 h1{ width: 500px;
    margin: 30px;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 50px;
     color: rgb(16, 16, 16);
     display: flex;
     align-items: flex-start;
     flex-direction: row;
     
 }
 
 .lear{ background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    position: relative;
    left: 150px;
     text-align: center;
     border-radius: 15px;
     color:black
     border: 3px double black;
     
    }

  .call{ color: #fff;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-style: italic;
    font-weight: 300;
    position: relative;
    left: 150px;
     text-align: center;
     border-radius: 15px;
     border: 3px double white;

  }


     .button{
         margin: 70px;xs
         display: flex;
         justify-content: space-evenly;
         flex-direction: row;
s     }


     .descripcion{ 

        margin: 30px;
        position: relative;
        top: -300px;
         
         color: #fff;
         font-family: Arial, Helvetica, sans-serif;
         font-size: 30px;
         
         
        
     }

     footer{
        width: 100%;
        padding: 50px 0;
        background-color: #076585;
     
    }

     .contacto {
        display: flex;
        color: black;
        font-size: 50px;
        flex-direction: column-reverse;
        align-items: flex-start;
        align-content: flex-start;
        position: relative;
        left: 80px
    }


    .container__footer{
        display: flex;
        color: black;
        flex-direction: row-reverse;
        margin: auto;
        margin-top: 100px;
        position: relative;
        left: -250px;
        
   }

   .box__footer {
        display: flex;
        flex-direction: column;
        padding: 40px;
        font-weight: 500;
        color: black

    
   }

   .box__footer .mapa { 
       position: relative;
       left:250px
       
       

   }

   .mapa img{
      width: 400px;
      height: 400px;
      padding: 20px;
   }

   .box__footer h3{
       margin-bottom: 30px;

   }

   .box__footer a{text-decoration: none;
       margin-top: 10px;
       color:black
       

    
   }
   .redes{
       position: relative;
       left: -50px
       
    
   }
.copy{
   
    display: flex;
    align-items: center;
    flex-direction:column-reverse
}
  
.copy img{
    width: 70px;
    margin: 10px;
    border-radius: 100px;
}



     
     
     

     
 